body {
  margin: 0
}
canvas {
  height: 100vh;
  width: 100vw;
  vertical-align: middle;
}

.button-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: 2rem;
  left: 2rem;
}